
{% extends 'nipadapp/base_layout.html' %} <!--namspace of templates-->
{% load static %}

{% block content %}
<br>
<br>
<br>
    <img src="{% static 'flock21a.jpg' %}" class="w-100" style="" alt="Little nipadapp Burundi">
    <div class="card ">
        
        <img src="{% static 'flock21a.jpg' %}" class="" style="" alt="Little nipadapp Burundi">
        <div class="card shadow text-white" style="background: black;
        overflow: hidden;" >
    
            <img src="{% static 'default.png' %}" class="" style="object-fit: cover;
            opacity: 0.4;" alt="Little nipadapp Burundi">

            <div class="overlay-content align-items-end text-white">

                <div class="col-md-3 text-center my-auto">
                    <div class="card-img-overlay card-body align-items-center col-md d-flex justify-content-center">

                        <div class="inner">
                            <div class="card-body" id="zoomText">
                                <h1 class="card-title" data-mdb-animation="zoom-in" >NIPAD</h1>
                                <br>
                                <h4 class="card-text">Catalyser les opportunités d'investissement en Afrique</h4>
                                <br>
                                <a href="{% url 'nipadapp:services' %}" class="btn btn-success">Nos Services</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
                    <br>
                    <br>

    <!-- =============ABOUT US===============-->
 {% comment %} <div class="container marketing"> {% endcomment %}
<div class="container">
    <div class="row shadow m-6 justify-content-center">
        <div class="col-md-6 p-5">
            <h2 class="cardNziza-title" >A Propos</h2>
            <br>
            <P class="text-center">Nous sommes une Equipe de professionnels preoccupés par le Développement du Continent Africain: "

                Nous croyons que l'Afrique a des potentielités pour sa prosperité et il faut que toute  Institution publique ou para Etatique, tout acteur ou partenaire de développement, tout investisseur portent  en main une clé."
            </p>
            <br>
            <div class="text-center">
                <a href="{% url 'nipadapp:propos' %}" style="color:white;" class="btn btn-success" >Lire plus</a>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="inner">
                <img src="{% static 'default.png' %}" class="w-100" style="max-width: 100%; height: auto;" alt="">
            </div>
        </div>
    </div>

        <!-- ===============End About Us=========-->
        <br>
        <br>
        <br>
    <!-- =============Video presentation===============-->

    
    <div class="row shadow m-6 justify-content-center">
        <div class="col-md-6 ">
            <div class="inner">
                <img src="{% static 'default.png' %}" class="w-100" style="max-width: 100%; height: auto;" alt="">
            </div>
        </div>

        <div class="col-md-6 p-5">
            <h2 class="cardNziza-title" class="fw-bold fs-1">Presentation</h2>
            <br>
            <P class="text-center">We are a covenanted spiritual family that desires and pursues a Trinitarian fullness , for a lasting impact to the glory of God, our joy in Jesus Christ.

                Trinitarian fullness: <br>
                - Rooted in the Word of Christ<br>
                - Filled with the Power of the Holy Spirit <br>
                - Ablaze with love for the Father</P>
                
        </div>
        
    </div>

        <!-- ===============end Video presentation=========-->


    <br>
    <br>
    <br>


        <!-- ===========================-->
    <div class="row justify-content-center">
        <h2 class="cardNziza-title" class="text-center ">Special title treatment</h2>
        <p class="text-center">With supporting text below as a natural lead-in to additional content, With supporting text below as a natural lead-in to additional content, With supporting text below as a natural lead-in to additional content.</p>
    </div>
        <br>
    <div class="row">
        <div class="col-md-4">
            <div class="image"> <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image"> <img src="{% static 'default.png' %}" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image"> <img src="https://images.pexels.com/photos/4388165/pexels-photo-4388165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============end =========-->
    <br>
    <br>
    <br>

    <!-- ===========================-->
    <div class="row justify-content-center">
        <h2 class="cardNziza-title" class="text-center ">Special title treatment</h2>
        <p class="text-center">With supporting text below as a natural lead-in to additional content, With supporting text below as a natural lead-in to additional content, With supporting text below as a natural lead-in to additional content.</p>
    </div>

    <br>
    <div class="row justify-content-center">

        <div class="col-md-4">
            
            <div class="cardNziza">
                <div class="cardNziza-image">
                    <img src="{% static 'flock21a.jpg' %}" alt="Orange" />
                </div>
                
                <div class="cardNziza-body">
                
                <div class="cardNziza-date">
                    <time>20 Novembre 1992</time>
                </div>
                
                <div class="cardNziza-title">
                    <h3>Lorem Ipsum</h3>
                </div>
                
                <div class="cardNziza-excerpt">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus autem consectetur voluptate facere at, omnis ab optio placeat officiis! Animi modi harum enim quia veniam consectetur unde autem inventore.</p>
                </div>
                
                </div>
            </div>
        </div>

        <div class="col-md-4">
            
            <div class="cardNziza">
                <div class="cardNziza-image">
                    <img src="{% static 'flock21a.jpg' %}" alt="Orange" />
                </div>
                
                <div class="cardNziza-body">
                
                <div class="cardNziza-date">
                    <time>20 Novembre 1992</time>
                </div>
                
                <div class="cardNziza-title">
                    <h3>Lorem Ipsum</h3>
                </div>
                
                <div class="cardNziza-excerpt">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus autem consectetur voluptate facere at, omnis ab optio placeat officiis! Animi modi harum enim quia veniam consectetur unde autem inventore.</p>
                </div>
                
                </div>
            </div>
        </div>

        <div class="col-md-4">
            
            <div class="cardNziza">
                <div class="cardNziza-image">
                    <img src="{% static 'flock21a.jpg' %}" alt="Orange" />
                </div>
                
                <div class="cardNziza-body">
                
                <div class="cardNziza-date">
                    <time>20 Novembre 1992</time>
                </div>
                
                <div class="cardNziza-title">
                    <h3>Lorem Ipsum</h3>
                </div>
                
                <div class="cardNziza-excerpt">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatibus autem consectetur voluptate facere at, omnis ab optio placeat officiis! Animi modi harum enim quia veniam consectetur unde autem inventore.</p>
                </div>
                
                </div>
            </div>
        </div>

    </div>
    <!-- ===============end=========-->
        
        <br>
        <br>
        <br>

        <!-- ===============PROJECTS counter=========-->
    <div class="row justify-content-md-center">
        
        <div class="col-md-4 d-flex justify-content-center text-center">
            
            <div class="card shadow border-success mb-3" style="width: 18rem; ">
                
                <div class="card-body text-center">
                    <h4 class="card-title">Projets soutenus</h4> 
                    <p class="card-text ">
                        <h1 class="counta" style="color:green;" >5</h1>
                    </p>
                </div>

            </div>
            <br>
        </div>

        <div class="col-md-4 d-flex justify-content-center text-center">
            
            <div class="card shadow border-danger mb-3" style="width: 18rem; ">
                
                <div class="card-body text-center">
                    <h4 class="card-title">Projets encours</h4> 
                    <p class="card-text ">
                        <h1 class="counter" style="color:red;">100</h1>
                    </p>
                </div>

            </div>
            <br>
        </div>

    </div>
    <!-- ===============end PROJECTS counter=========-->
 

<br>
<br>
<br>
<br>
<br>


{% endblock %}