{% extends 'nipadapp/base_layout.html' %} <!--namspace of templates-->
{% load static %}

{% block content %}
<br>
<br>

<br>
<br>

    <!-- =============ABOUT US===============-->
 {% comment %} <div class="container marketing"> {% endcomment %}
    <div class="container">
        <div class="row shadow m-6 justify-content-center">
            <div class="col-md-6 ">
                <div class="inner">
                    <img src="{% static 'default.png' %}" class="w-100" style="max-width: 100%; height: auto;" alt="">
                </div>
            </div>

            <div class="col-md-6 p-3">
                <h2 class="fw-bold fs-1">A Propos</h2>
                <P>We are a covenanted spiritual family that desires and pursues a Trinitarian fullness , for a lasting impact to the glory of God, our joy in Jesus Christ.

                    Trinitarian fullness: <br>
                    - Rooted in the Word of Christ<br>
                    - Filled with the Power of the Holy Spirit <br>
                    - Ablaze with love for the Father</P>
                    
            </div>
            
        </div>
    </div>

        <!-- ===============End About Us=========-->

        <br>
        <br>
        <br>

        <!-- ===============Mission Vision Objectis=========-->
    <div class="container">
        
        <div class="row m-6 justify-content-center">
                
            <div class="col-md-4 ">
                
                <div class="card shadow border-success mb-3" style="width: 18rem; ">
                    
                    <div class="card-body text-center">
                        <h1 class="card-title">Mission</h1> 
                        <p class="card-text">Proclaim the Kingdom that has come through death and resurrection of Jesus Christ. Proclaim the Kingdom that has come through death and resurrection of Jesus Christ</a></p>
                    </div>

                </div>
                <br>
            </div>

            <div class="col-md-4">
               
                <div class="card shadow border-danger mb-3" style="width: 18rem; ">
                    
                    <div class="card-body text-center">
                        <h1 class="card-title">Vision</h1> 
                        <p class="card-text">Proclaim the Kingdom that has come through death and resurrection of Jesus Christ. Proclaim the Kingdom that has come through death and resurrection of Jesus Christ</a></p>
                    </div>

                </div>
                <br>
            </div>

            <div class="col-md-4">
                
                <div class="card shadow border-warning mb-3" style="width: 18rem; ">
                    
                    <div class="card-body text-center">
                        <h1 class="card-title">Objectis</h1> 
                        <p class="card-text">Proclaim the Kingdom that has come through death and resurrection of Jesus Christ. Proclaim the Kingdom that has come through death and resurrection of Jesus Christ</a></p>
                    </div>

                </div>
                <br>
            </div>
                
            
        </div>
    </div>   
        <!-- ===============Mission Vision Objectis=========-->

{% endblock %}