{% extends 'nipadapp/base_layout.html' %} <!--namspace of templates-->
{% load static %}

{% block content %}
<br>
<br>
<br>

<div class="container">

    <div class="row m-6 justify-content-center">
        <div class="col-md-6 ">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row ">
                <div class="">
                    <img src="{% static 'flock21a.jpg' %}" class="ratio ratio-16x9" alt="Orange" />
                </div>
            </div>
            
            <div class="row ">
                <div class="">
                    <img src="{% static 'lf3.jpg' %}" style="margin:20%; max-width: 60%; height: auto;" alt="Orange" />
                </div>
            </div>
        </div>
        
        <div class="col-md-5">
            <div class="row ">
                <div class="">
                    <img src="{% static 'flock21a.jpg' %}" class="ratio ratio-16x9" alt="Orange" />
                </div>
            </div>
            <br>
            <br>
            <div class="row ">
                <div class="">
                    <img src="{% static 'flock21a.jpg' %}" class="ratio ratio-16x9" alt="Orange" />
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row ">
                <div class="">
                    <img src="{% static 'flock21a.jpg' %}" class="ratio ratio-16x9" alt="Orange" />
                </div>
            </div>
        </div>
        
    </div>
</div>
<br>
<br>
<br>
{% endblock %}